#Portfolio {
    height: auto;


    .CertiPrg {
        width: 100%;
        height: 110px;
        border: 2px solid #433871;
        background-color: #433871;
        box-shadow: 0px 0px 0px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        p {
            text-align: center;
            font-size: 12px;
            font-weight: 600;
            overflow: hidden;
            color: #ffffff;
            word-spacing: 3px;
            margin-bottom: 2.5px;
            background-color: transparent;
        }

        &__a {
            font-size: 12px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            font-weight: 600;
            background-color: transparent;


            &,
            a:hover {
                transform: scale(1.2);
                font-weight: bold;
                font-size: 12px;
            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        height: 120vh;
        margin-top: 10rem;


        .CertiPrg {
            width: 100%;
            padding: 10px 45px 0 45px;
            height: 80px;

        }

    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        width: 100%;
        height: auto;
        border-radius: 20px;
        transition: .2s linear;



        .portfoloi {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            z-index: 3;
            width: 100%;
            margin: 45px auto;
        }

        .CertiPrg {
            width: 100%;
            height: 100px;
            border: 2px solid #433871;
            background-color: #433871;
            box-shadow: 0px 0px 0px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);
            cursor: pointer;
            padding: 15px 45px 0 45px;


            p {
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                overflow: hidden;
                color: #fff;
                word-spacing: 3px;
            }

            &__a {
                color: #fff;
                text-decoration: none;
                cursor: pointer;
                text-align: center;
                font-size: 14px;


                &,
                a:hover {
                    transform: scale(1.2);
                    font-weight: bold;
                    font-size: 14px;

                }
            }
        }

    }


}