.chat-widget {
    position: fixed;
    bottom: 32px;
    right: 20px;
    background-color: var(--body_background);

    .bpw-widget-btn {
        background: #a343ec;
        color: white;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.2s;


        &:hover {
            transform: scale(1.1);
        }

        svg {
            width: 20px;
            height: 20px;
            background: #a343ec;
            color: white;
        }
    }

}

.chatbox-container {
    position: fixed;
    top: 18%;
    bottom: 90px;
    right: 20px;
    width: 380px;
    height: 600px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--box-shadowI);
    background-color: var(--body_background);


    &.open {
        display: flex;
        background-color: #f2e9fdff;
        min-height: 70vh;
        background-color: var(--body_background);

    }

    &.closed {
        display: none;
    }

    .chatbox-header {
        display: flex;
        align-items: center;
        width: 100%;
        background: #a343ec;


        .close-button {
            border: none;
            cursor: pointer;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #dde4ec;


            svg {
                stroke: white;
                width: 25px;
                height: 25px;
                background: #a343ec;

            }

            &:hover {
                opacity: 0.8;
            }
        }

        .chatbox-title {
            flex-grow: 1; // occupe l’espace restant
            padding: 14px;
            color: #fff;
            font-size: 15px;
            font-weight: 500;
            background: #a343ec;

        }
    }

    // Contenu du chat
    .chatbox-content {
        flex-grow: 1;
        padding: 10px;
        overflow-y: auto;

    }
}