.chat-widget {
    position: fixed;
    bottom: 40px;
    right: 20px;


    .bpw-widget-btn {
        background: #2563eb;
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


        svg {
            margin-top: 2px;
        }

        &:hover {
            background: #670562;
        }
    }




}


.chatbox-container {
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none; // évite d'interagir quand fermé
    position: absolute;
    bottom: 70px; // juste au-dessus du bouton
    right: 0;
}

.chatbox-container.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}