@import './setting.scss';

:root {
    --body_color: #f3ebf6;
    --link_color: navy;
    --box_background: linear-gradient(#e9d3f1, #d4a9d6);
    --spark: 1.8s;

}

[data-theme="dark"] {
    --body_background: #160f35;
    --body_color: #f3ebf6;
    --body_backg: #ca42c1;
    --link_color: white;
    --lang_color: #695da1;
    --header_background: #433871;
    --lang_background: rgb(67, 56, 113);

    --box-shadow: 8px 8px 8px 6px rgba(255, 255, 255, 0.327), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
    --box_br: -10px -10px 0px -20px rgba(236, 225, 231, 0.327), -4px -4px 1px 0 rgba(177, 190, 206, 0.5);
    --box-shadow-portfolio: 5px 10px 18px rgba(0, 0, 0, 0.8);
    --skill_color: #e7d2ee;
    --background_profil: #160f35;
    --background_icons: #2d032a;
}

[data-theme="dark"] {
    --body_background: #160f35;
    --box_background: linear-gradient(#8552c4, #916bbf);
    --background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 250, 29, 0.8352591036414566) 50%, rgba(252, 176, 69, 1) 100%);
    --body_header: #dcd7dd;
    --body_color: #f3ebf6;
    --header_background: #433871;
    --lang_background: rgb(67, 56, 113);
    --background_icons: #89628b;
    --background_icons: #a084dc;
    --background_profil: #160f35;
    --hover: linear-gradient(45deg,
            #645cbb,
            #1c0c5b,
            #ebc7e6,
            #3d2c8d,
            #bface2,
            #7a00ff,
            #fbf4f9,
            #a084dc)
}

[data-theme="Light"] {
    --header_background: #e6dae6;
    --lang_background: #c996cc;
    --background_profil: #e9e2e2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    background-color: var(--body_background);
    color: var(--link_color);
    transition: all 0.3s ease-in-out;
    list-style-type: none;

}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    @include body-position;
    overflow-x: hidden;
    color: var(--body_color);
    background-color: var(--body_background);
    margin: 0 auto;
    color: var(--link_color);
    height: 100%;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (min-width: $breakpoint-desktop) and (max-width:$Mmax) {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
}