@import "../../components/Footer/Footer.scss";
@import "../../components/Header/Header.scss";
@import "../../components/Profil/Profil.scss";
@import "../../components/About/About.scss";
@import "../../components/Contact/Contact.scss";
@import "../../components/Language/Language.scss";
@import "../../components/dark/darkMode.scss";
@import "../../components/MySkills/MySkills.scss";
@import "../../components/MyPortfolio/MyPortfolio.scss";
@import "../../components/Bouttons/Boutton.scss";
@import "../../Containers/Skills/Skills.scss";
@import "../../Containers/Portfolio/Portfolio.scss";
@import "../../pages/Project/Project.scss";
@import "../../components/socialMedia/socialMedia.scss";