//01/07
@mixin body-position {
  max-width: $Mmax;
  min-width: $Mmin;
  margin: auto;
}

@mixin linear-cards {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

@mixin linear-gradient {
  background: linear-gradient(hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .502));
}

@mixin small-radius {
  border-radius: 10px;
}

@mixin medium-radius {
  border-radius: 25px;
}

@mixin boxShadow {
  box-shadow: rgba(255, 96, 96, 0.9) 0 0 0px 0.5px;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@mixin ItemCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin font($size, $weight) {
  font-size: ($size);
  font-style: normal;
  font-weight: $weight;
  line-height: 140%;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@mixin flexCenterRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

@mixin row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-endCenter {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@mixin WH-full {
  width: 100%;
  height: 100%;
}

@mixin media-query($key) {

  @media only screen and (max-width: map-get($breakpoints, $key)) {
    @content;
  }
}