///Les variables

$primary-color: #3f056b;
$secondary-color: #f0f0f0;
$tertiary-color: #ffff;
$greyDark: #C4C4C4;
$footer-color: #2b0449;
$background-color: rgba(0, 0, 0, 0.3);
$couleur-body: linear-gradient (#FF79DA, #9356DC, #cfc9d3);


$body-background :#cfc9d3;

//$Mmin: 375px;
//$Mmax: 768px;
$Mmin: 1400px;
$Mmax: 1600px;

$breakpoint-desktop: 769px;


$small: 480px;
$medium: 992px;
$large: 1280px;

$size: 24px;
$collapseWidth: 80%;