///Les variables
$primary-color: #3f056b;
$secondary-color: #f0f0f0;
$tertiary-color: #ffff;
$greyDark: #C4C4C4;
$footer-color: #2b0449;
$background-color: rgba(0, 0, 0, 0.3);
$couleur-body: linear-gradient (#FF79DA, #9356DC, #cfc9d3);
$box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
$liner: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 250, 29, 0.8352591036414566) 50%, rgba(252, 176, 69, 1) 100%);
$nouveauLinear: linear-gradient(45deg, #645cbb, #1c0c5b, #ebc7e6, #3d2c8d, #bface2, #7a00ff, #fbf4f9, #a084dc);
$body-background :#cfc9d3;
$Wmin: 375px;
$Wmax: 768px;
$Mmin: 1400px;
$Mmax: 1600px;
$breakpoint-desktop: 769px;


.titlePortfolio {
    width: 100%;
    text-align: center;
    font-weight: 600;
    margin: 1rem;

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        width: 100%;
        text-align: center;
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        padding-top: 130px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1600px) {
        width: 100%;
        margin-top: 5rem;
        padding-top: 130px;
        padding-bottom: 40px
    }
}

$small: 480px;
$medium: 992px;
$large: 1280px;