.dark_mode {
    background-color: transparent;
    margin-bottom: 12px;

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        margin-top: -7.5px;
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        margin-top: -35px;
    }
}

.dark_mode_label {
    width: 51px;
    height: 27px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, .4), inset 0 -5px 15px rgba(255, 255, 255, .4);
    cursor: pointer;
    transition: .3s;
}

.dark_mode_label:after {
    content: "";
    width: 20px;
    height: 20px;
    margin-top: 2.4px;
    position: absolute;
    top: 2.4%;
    left: 0.12rem;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    transition: .3s
}

.dark_mode_input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.dark_mode_input:checked+.dark_mode_label {
    background: #242424
}

.dark_mode_input:checked+.dark_mode_label:after {
    left: 67px;
    top: 2px;
    transform: translateX(-200%);
    background: linear-gradient(180deg, #777, #3a3a3a);
    z-index: 10;
}

.dark_mode_label:active :after {
    width: 30px;

}

.dark_mode_label svg {
    position: absolute;
    width: 15px;
    top: 5px;
    z-index: 100;
}



.dark_mode_label svg.sun {
    left: 5px;
    top: 5px;
    fill: #fff;
    transition: .3s;
    background-color: transparent;
}

.dark_mode_label svg.moon {
    left: 30px;
    fill: #414141;
    transition: .3s;
    background-color: transparent;
}

.dark_mode_input:checked+.dark_mode_label svg.sun {
    fill: #7e7e7e;

}

.dark_mode_input:checked+.dark_mode_label svg.moon {
    fill: #fff;
}