.Biographie__container {
    width: 85%;
    font-size: 12px;
    color: var(--body_color);


    &__titre {
        width: 80%;
        font-size: 12px !important;
    }

    &__p {
        overflow: hidden;
        font-size: 12px;
        word-spacing: 5px;
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        color: var(--body_color);
        width: 52%;

        &__titre {
            width: 45%;
            margin-top: 20px;
            margin-bottom: 22px;
            margin-left: 40px;
            overflow: hidden;
            animation: script 12s steps(45) infinite;
        }

        &__p {
            width: 45%;
            display: block;
            margin-left: 20px;
            word-spacing: 6px;
            overflow: hidden;

        }

    }

    @media screen and (min-width: 1171px) and (max-width: $Mmax) {
        width: 56%;

        &__titre {
            width: 55%;

            animation: script 12s steps(45) infinite;
        }


    }
}

/*
@keyframes script {
    0% {
        width: 0
    }

    45% {
        width: 102%
    }

    55% {
        width: 102%
    }

    100% {
        width: 0
    }
}*/