.Biographie__container {
    width: 80%;
    font-size: 13px;
    color: var(--body_color);
    //box-shadow: var(--box-shadow);
   // box-shadow: -6px -6px 5px 0 #583e81, 6px 6px 5px 0 rgba(0, 0, 0, .2);
  //  border-radius: 5px;

    &__h4 {
        width: 60%;
        font-size: 13px;
    }

    &__p {
        overflow: hidden;
        font-size: 12px;
        word-spacing: 5px;
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:$Mmax) {
        color: var(--body_color);
        width: 60%;

        &__h4 {
            width: 55%;
            margin-top: 20px;
            margin-bottom: 22px;
            margin-left: 40px;
            animation: script 12s steps(45) infinite;
        }

        &__p {
            display: block;
            margin-left: 40px;
            word-spacing: 6px;
            overflow: hidden;

        }
    }
}


@keyframes script {
    0% {
        width: 0
    }

    45% {
        width: 102%
    }

    55% {
        width: 102%
    }

    100% {
        width: 0
    }
}