.Biographie__container {
    width: 85%;
    font-size: 12px;
    color: var(--body_color);


    &__titre {
        width: 80%;
        font-size: 12px !important;
    }

    &__p {
        overflow: hidden;
        font-size: 12px;
        word-spacing: 5px;
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        color: var(--body_color);
        width: 54%;

        &__titre {
            width: 50%;
            overflow: hidden;
            font-size: 25px;
        }

        &__p {
            width: 45%;
            display: block;
            margin-left: 20px;
            word-spacing: 6px;
            overflow: hidden;
            letter-spacing: .2rem;
        }
    }

    @media screen and (min-width: 1171px) and (max-width: $Mmax) {
        width: 60%;
        font-size: 15px;

        &__titre {
            width: 55%;
        }

        &__p {
            letter-spacing: .5rem;

        }


    }
}