.project {
    @include flex-center;
    flex-shrink: 1;
    height: 160vh;
    margin-bottom: 25%;

    &__title {
        font-size: 22px;
        font-weight: 800;
        //    display: flex;
        //  justify-content: center;
        margin-top: -3.5rem;
        width: 90%;
    }

    &__page {
        font-size: 12px;
    }

    &__iconeBack {
        position: relative;
        top: -1.8rem;
        left: -7rem;
        cursor: pointer;
        font-size: 7vw;
    }

    &__descreption {
        width: 80%;
        @include flex-center;
        row-gap: 20px;
        //  position: absolute;
        margin-left: 1.5rem;
    }

    .wrapper {
        display: inline-flex;
        list-style: none;
        gap: 45px;

        &__icon {
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-size: 18px;
            height: 50px;
            justify-content: space-between;
            margin: 10px;
            padding: 15px;
            position: relative;
            transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
            width: 50px;
            margin: 22px;

            &:hover .wrapper__tooltip {
                top: -45px;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                box-shadow: 6px -6px 25px 0 #ceb1ff,
                    6px 6px 25px 0 #ceb1ff;

                span {
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
                    color: #ceb1ff;

                }

                ::before {
                    color: var(--body_color)
                }
            }

        }

        &__tooltip {
            position: absolute;
            top: 0;
            font-size: 14px;
            background: var(--box_background);
            color: var(--link_color);
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
            opacity: 0;
            pointer-events: none;
            font-weight: 600;
            transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);

            ::before {
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                background: var(--box_background);
                bottom: -3px;
                left: 50%;
                transform: translate(-50%) rotate(45deg);
                transition: all .3s cubic-bezier(.68, -.55, .265, 1.55)
            }
        }

        img {
            height: 35px;
            width: 35px;
            border-radius: 8px;
            // margin-left: 20px;
        }
    }


    @media screen and (min-width: $breakpoint-desktop) and (max-width:$Mmax) {
        width: 90%;
        margin: 0 auto;
        @include flex-center;
        position: relative;
        height: 100vh;
        top: 20px;
        flex-basis: 1;


        &__header {
            @include flex-between;
        }

        &__iconeBack {
            position: absolute;
            top: 2px;
            left: 10px;
            cursor: pointer;
            font-size: 2.5vw;
        }

        &__title {
            font-size: 28px;
            font-weight: 800;
            display: flex;
            justify-content: center;
            font-size: 2vw;
            height: 40px;
            width: 100%;
            margin-bottom: 2.5rem;
        }

        &__page {
            width: 90%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            // @include flexCenterRow;
        }

        &__carousel {
            list-style-type: none;
        }

        &__descreption {
            width: 60%;
            @include flex-center;
            row-gap: 20px;
            position: absolute;
            left: -7%;

            P {
                color: navy;
                //color: var(--body_color);
                border-radius: 40px;
                color: var(--link_color);
                display: flex;
                justify-content: start;
                height: auto;
                padding: 12px;
                width: 70%;
                overflow: hidden;
                font-size: 14px;
            }
        }

        .wrapper {
            display: inline-flex;
            list-style: none;
            gap: 55px;

            &__icon {
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-size: 18px;
                height: 50px;
                justify-content: space-between;
                margin: 10px;
                padding: 15px;
                position: relative;
                transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
                width: 50px;
                margin: 22px;

                &:hover .wrapper__tooltip {
                    top: -45px;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    box-shadow: 6px -6px 25px 0 #ceb1ff,
                        6px 6px 25px 0 #ceb1ff;

                    span {
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
                        color: #ceb1ff;
                    }

                    ::before {
                        color: var(--body_color)
                    }
                }

            }

            &__tooltip {
                position: absolute;
                top: 0;
                font-size: 14px;
                background: var(--box_background);
                color: var(--link_color);
                padding: 5px 8px;
                border-radius: 5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
                opacity: 0;
                pointer-events: none;
                font-weight: 600;
                transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);

                ::before {
                    position: absolute;
                    content: "";
                    height: 8px;
                    width: 8px;
                    background: var(--box_background);
                    bottom: -3px;
                    left: 50%;
                    transform: translate(-50%) rotate(45deg);
                    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55)
                }
            }

            img {
                height: 35px;
                width: 35px;
                border-radius: 8px;
                // margin-left: 20px;
            }
        }



        &__boutton {
            display: flex;
            flex-direction: row;
            //align-items: center;
            justify-content: space-between;
            gap: 28%;
            border-radius: 20px;
            //color: #100733;
            //color: var(--body_color);
            display: flex;
            height: 100%;
            text-decoration: none;
        }

        .Technologies {
            @include ItemColumn;



            .technologyUsed_icons {

                display: flex;
                flex-direction: row;
                position: relative;
                left: -13%;
                top: 2%;
                width: 391px;
            }
        }

        .Boutton {
            @include flexCenterRow;
            border: 1px, solid, var(--background_icons);
        }
    }
}