.project {
    @include flex-center;
    flex-shrink: 1;
    height: 180vh;
    margin-bottom: 52%;

    &__header {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }

    &__title {
        font-size: 22px;
        font-weight: 800;
        text-align: center;
    }

    &__page {
        padding-bottom: 50px;

    }

    &__iconeBack {
        position: absolute;
        top: 8.5rem;
        left: 1rem;
        cursor: pointer;
        font-size: 7vw;
    }

    &__descreption {
        @include flex-center;
        row-gap: 30px;

        p {
            width: 90%;
            font-size: 12px;
        }

        &__carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-position: center;
        }

    }

    .hh6 {
        width: 100%;
        text-align: center;
    }

    .wrapper {
        display: inline-flex;
        list-style: none;
        margin-top: 20px;

        &__icon {
            align-items: center;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            font-size: 18px;
            height: 50px;
            justify-content: space-between;
            background-color: #f0ebeb;
            padding: 8px;
            position: relative;
            transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
            width: 50px;


            &:hover .wrapper__tooltip {
                top: -45px;
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
                box-shadow: 6px -6px 25px 0 #ceb1ff,
                    6px 6px 25px 0 #ceb1ff;

                span {
                    text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
                    color: #ceb1ff;

                }

                ::before {
                    color: var(--body_color)
                }
            }

        }

        &__tooltip {
            position: absolute;
            top: 0;
            font-size: 14px;
            background: var(--box_background);
            color: var(--link_color);
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
            opacity: 0;
            pointer-events: none;
            font-weight: 600;
            transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);

            ::before {
                position: absolute;
                content: "";
                height: 8px;
                width: 8px;
                background: var(--box_background);
                bottom: -3px;
                left: 50%;
                transform: translate(-50%) rotate(45deg);
                transition: all .3s cubic-bezier(.68, -.55, .265, 1.55)
            }
        }

        img {
            height: 35px;
            width: 35px;
            border-radius: 8px;

        }

        .Technologies {
            display: flex;
            flex-direction: column;
            width: 50%
        }

        .technologyUsed_icons {
            display: flex;
            flex-direction: row;
            align-items: center;
            // flex-wrap: wrap;
        }
    }

    .technologyUsed_icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

    }

    .Boutton {
        border: 1px, solid, var(--background_icons);
        display: flex;
        //gap: 4%;
        width: 94%;

    }




    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        &__carousel {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-position: center;
        }

        &__title {
            font-size: 28px;
            font-weight: 800;
            position: relative;
            top: -10rem;
            width: 90%;
        }

        &__iconeBack {
            position: relative;
            top: -10rem;
            left: -28rem;
            cursor: pointer;
            font-size: 4vw;
        }
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        width: 90%;
        margin: 100px auto;
        @include flex-center;
        position: relative;
        height: 100vh;
        top: 20px;
        flex-basis: 1;


        &__header {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 90px;
        }

        &__iconeBack {
            position: absolute;
            top: 2px;
            left: 10px;
            cursor: pointer;
            font-size: 2.5vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            color: var(--body_color);
        }

        &__title {
            font-size: 28px;
            font-weight: 800;
            display: flex;
            justify-content: center;
            font-size: 2vw;
            height: 40px;
            width: 100%;
            margin-bottom: 2.5rem;
        }

        &__page {
            width: 94%;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }

        &__carousel {
            list-style-type: none;
        }

        &__descreption {

            width: 70%;
            display: flex;
            flex-direction: column;
            row-gap: 38px;

            p {
                color: var(--link_color);
                display: flex;
                justify-content: center;
                height: auto;
                padding: 10px;
                width: 80%;
                overflow: hidden;
                font-size: 16px;
            }
        }

        &__boutton {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2%;
            height: 100%;

            .Technologies {
                display: flex;
                flex-direction: column;
                width: 50%
            }

            .technologyUsed_icons {
                display: flex;
                flex-direction: row;
                align-items: center;
                // flex-wrap: wrap;

            }

        }


        .wrapper {
            display: inline-flex;
            list-style: none;
            gap: 55px;

            &__icon {
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                display: flex;
                flex-direction: column;
                font-size: 18px;
                height: 50px;
                justify-content: space-between;
                margin: 10px;
                padding: 15px;
                position: relative;
                transition: all .2s cubic-bezier(.68, -.55, .265, 1.55);
                width: 50px;
                margin: 22px;

                &:hover .wrapper__tooltip {
                    top: -45px;
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                    box-shadow: 6px -6px 25px 0 #ceb1ff,
                        6px 6px 25px 0 #ceb1ff;

                    span {
                        text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
                        color: #ceb1ff;
                    }

                    ::before {
                        color: var(--body_color)
                    }
                }

            }

            &__tooltip {
                position: absolute;
                top: 0;
                font-size: 14px;
                background: var(--box_background);
                color: var(--link_color);
                padding: 5px 8px;
                border-radius: 5px;
                box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
                opacity: 0;
                pointer-events: none;
                font-weight: 600;
                transition: all .3s cubic-bezier(.68, -.55, .265, 1.55);

                ::before {
                    position: absolute;
                    content: "";
                    height: 8px;
                    width: 8px;
                    background: var(--box_background);
                    bottom: -3px;
                    left: 50%;
                    transform: translate(-50%) rotate(45deg);
                    transition: all .3s cubic-bezier(.68, -.55, .265, 1.55)
                }
            }

            img {
                height: 35px;
                width: 35px;
                border-radius: 8px;
                // margin-left: 20px;
            }
        }

        .Boutton {
            border: 1px, solid, var(--background_icons);
            display: flex;
            gap: 4%;
            width: 40%;

        }

    }






}