.myPortfolio {
    @include flex-column;
    gap: 30px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .selectCategory {
        width: 250px;
        height: 45px;
        margin: 0 auto;
        border-radius: 10px;
        background-color: var(--body_color);
    }

    .card {
        border-radius: 10px;
        height: 260px;
        width: 90%;
        cursor: pointer;
        box-shadow: -3px -3px 12px 0 #583e81, 6px 6px 12px 0 rgba(0, 0, 0, .2);
        position: relative;
        transform-style: preserve-3d;

        &:hover {
            .front {
                transform: rotateY(180deg);
            }

            .back {
                transform: rotateY(0deg);
            }
        }

        .card-face {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            backface-visibility: hidden;
            overflow: hidden;
            border-radius: 10px;

            p {
                font-size: 13px;
                margin-bottom: 0;
                padding: 0 25px 0 25px;
                display: block;
                text-align: center;
                overflow: hidden;
            }
        }

        .front img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            object-fit: fill;
        }

        .back {
            transform: rotateY(180deg);
            @include flex-column;

            .back h2 {
                padding: 0;
                font-size: 18px;
                margin: 0
            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1171px) {
        @include flexCenterRow;
        flex-wrap: wrap;
        padding: 0 50px 0 50px;

        .card {
            height: 320px;
            width: 45%;
            box-shadow: $box-shadow;
            box-shadow: var(--box-shadow);
            box-shadow: -3px -3px 12px 0 #583e81, 6px 6px 12px 0 rgba(0, 0, 0, .2);
        }
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        width: 100%;
        height: auto;
        margin: 30px auto;
        @include flexCenterRow;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0 60px 0 60px;

        .card {
            border-radius: 15px;
            height: 320px;
            width: 30%;
            position: relative;
            transform-style: preserve-3d;
            background: 0 0;
            box-shadow: -6px -6px 25px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);

            &:hover {
                .front {
                    transform: rotateY(180deg);
                }

                .back {
                    transform: rotateY(0deg);
                }
            }
        }

        .card-face {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 15px;
            backface-visibility: hidden;
            overflow: hidden;

            p {
                font-size: 13spx;
                margin-bottom: 0;
                padding: 0 25px 0 25px;
                display: block;
                text-align: center;
                overflow: hidden;
            }
        }

        .front img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .card_title {
            position: absolute;
            inset: auto auto 30px 30px;
            margin: 0;
            transition: inset .3s .3s ease-out;
            font-weight: 400;
            text-transform: uppercase;
            color: #0000;
            font-size: 25px;
            font-weight: bold;
            z-index: 1;
            background-color: rgba(240, 248, 255, .12);
            padding: 20px;
            color: var(--body_color);
        }

        .back {
            transform: rotateY(180deg);
            @include flex-column;

            .back h3 {
                padding: 0;
                font-size: 18px;

            }

            p {
                margin-top: 20px;
                line-height: 141.8%;
            }
        }
    }
}