.btn_lang {
    // border: .16em solid var(--body_color);
    border: .16em solid #2e2b2b00;
    border-radius: 2em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 .04em .04em rgba(0, 0, 0, .55);
    transition: all .2s;
    width: 65px;
    position: absolute;
    right: 3%;
    top: 6%;
}