//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^nesrinebekkar.com[nc]
RewriteRule ^(.*)$ http://www.nesrinebekkar.com/$1 [r=301,nc]

//Custom 403 errors
ErrorDocument 403 https://nesrinebekkar.com

//Change default directory page
DirectoryIndex index.html