.chatbox-section {
    z-index: 9999;

    .chatbox {
        width: 100%;
        max-width: 400px;
        height: 550px;
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        overflow: hidden;
        background-color: #f2e9fd;

        &__header {
            background: #a343ec;
            color: #fff;
            padding: 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        &__messages {
            flex: 1 1 auto;
            padding: 10px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow-y: auto;

            .chatbox__message {
                max-width: 96%;
                padding: 12px 12px;
                border-radius: 12px;
                font-size: 14px;
                line-height: 1.4;
                word-wrap: break-word;

                &.bot {
                    background-color: var(--body_background, #fbdbfb);
                    color: var(--link_color, #333);
                    align-self: flex-start;
                    border-bottom-left-radius: 4px;
                    padding: 12px 12px;

                }

                &.user {
                    background-color: #e95fbb;
                    color: #fff;
                    align-self: flex-end;
                    border-bottom-right-radius: 4px;
                }


                .typing {

                    display: inline-block;
                    border-right: 2px solid #000; // curseur
                    white-space: nowrap;
                    overflow: hidden;
                    animation: typing 1.5s steps(10, end), blink-caret 0.75s step-end infinite;

                    span {
                        display: block;
                        width: 6px;
                        height: 6px;
                        background: #211f1f;
                        border-radius: 50%;
                        animation: blink 1.4s infinite both;

                        &:nth-child(1) {
                            animation-delay: 0s;
                        }

                        &:nth-child(2) {
                            animation-delay: 0.2s;
                        }

                        &:nth-child(3) {
                            animation-delay: 0.4s;
                        }
                    }
                }

            }
        }

        &__buttons {
            flex: 0 0 auto;
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            padding: 8px;

            button {
                flex: 1 1 45%;
                border-radius: 8px;
                padding: 8px;
                font-size: 13px;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                color: var(--link_color, #333);
                border: 1px solid var(--link_color, #333);

                &:hover {
                    background: #a343ec;
                    color: #fff;
                }
            }
        }

        &__input {
            flex: 0 0 auto;
            display: flex;
            padding: 10px;

            input {
                flex: 1;
                padding: 10px;
                font-size: 14px;
                border: 1px solid var(--link_color, #333);
                border-radius: 8px 0 0 8px;
                outline: none;
            }

            button {
                padding: 0 16px;
                font-size: 16px;
                cursor: pointer;
                color: #dde4ec;
                background-color: #a343ec;
                border: 1px solid var(--link_color, #333);
                border-radius: 0 8px 8px 0;
                transition: 0.2s;

                &:hover {
                    background-color: #357abd;
                }
            }
        }


    }
}

.chatbox__message.bot.typing {
    font-style: italic;
    color: gray;
}

.typing::after {
    content: "⠿";
    /* ou trois petits points animés */
    animation: blink 1s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}




@keyframes blink {
    0% {
        opacity: 0.2;
        transform: translateY(0);
    }

    20% {
        opacity: 1;
        transform: translateY(-3px);
    }

    100% {
        opacity: 0.2;
        transform: translateY(0);
    }
}

@keyframes dots {
    0% {
        content: '';
    }

    33% {
        content: '.';
    }

    66% {
        content: '..';
    }

    100% {
        content: '...';
    }
}