#About {
    @include flex-column;
    width: 100%;
    height: 100vh;

    .presentation {
        width: 90%;
        position: relative;
        top: 28%;
        margin: 0 auto;
        @include flex-column;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
        height: 500px;
    }

    .wrap {
        text-align: center;
        width: 80%;

    }

    h1,
    h2 {
        text-transform: uppercase;
        text-align: center;
        //font-size: 20px;
        font-weight: 600;
    }

    a {
        //color: navy;
        background-color: transparent;
        font-weight: 600;
        color: var(--link_color);
    }

    p {
        font-weight: 600;
    }

    //@media screen and (min-width: $breakpoint-desktop)
    @media screen and (min-width: $breakpoint-desktop) {
        @include flex-column;
        width: 100%;
        height: 100vh;

        .presentation {
            width: 100%;
            position: relative;
            top: 5.5%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
        }

        .wrap {
            text-align: center;
            width: 100%;

        }

        h1,
        h2 {
            text-transform: uppercase;
            text-align: center;
        }

        a {
            //color: navy;
            background-color: transparent;
            font-weight: 600;
            color: var(--link_color);
        }

        p {
            font-weight: 600;
        }

    }




}