#About {
    @include flex-column;
    width: 100%;
    height: 92vh;

    .presentation {
        width: 90%;
        position: relative;
        top: 16%;
        margin: 0 auto;
        @include flex-column;
        background-position: center;
        background-size: auto;
        background-repeat: no-repeat;
    }

    .wrap {
        text-align: center;
        width: 80%;
    }

    h1,
    h2 {
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
    }

    .hiddenI {
        font-size: 1.5rem;
    }

    .hiddenII {
        font-size: 1.2rem;
        margin-bottom: -12px;
    }

    a {
        background-color: transparent;
        font-weight: 600;
        color: navy;
    }

    p {
        font-weight: 600;
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        height: 120vh;

        .presentation {
            width: 90%;
            position: relative;
            top: -21%;
        }

    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        @include flex-center;
        max-width: 100%;
        width: 100%;
        height: 150vh;

        .presentation {
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-position: center;
            background-size: auto;
            background-repeat: no-repeat;
            position: relative;
            top: 5%;
        }

        .wrap {
            text-align: center;
            width: 100%;
        }

        h1,
        h2 {
            text-transform: uppercase;
            text-align: center;
        }

        .hiddenI {
            font-size: 2.5rem;
        }

        .hiddenII {
            font-size: 2rem;
        }

        a {
            background-color: transparent;
            font-weight: 600;
            color: var(--link_color);
        }

        p {
            font-weight: 600;
        }

    }
}