.contact {
    margin-bottom: 150px;
    position: relative;
    height: 140vh;

    .contact-wrapper {
        height: auto;
        padding: 20px;
        max-width: 90%;
        width: 90%;
        margin: 20px auto;
        border-radius: 20px;
        transition: .2s linear;
        box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 rgba(0, 0, 0, .2)
    }

    .form-control,
    textarea {
        width: 100%;
        background-color: var(--body_color);
        border: 2px solid var(--link_color);
        box-shadow: -0.5px -0.5px 4px 0 #ceb1ff, -0.5px -0.5px 4px 0 #ceb1ff;

    }

    .form-horizontal {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-gap: 14px;
        padding: 20px;
        box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
        border-radius: 20px;
        margin-bottom: 45px;
        box-shadow: -0.5px -0.5px 4px 0 #ceb1ff, -0.5px -0.5px 4px 0 #ceb1ff;
    }

    .form-horizontal input {
        height: 35px;
        border-radius: 4px;
        padding: 3px 7px 0 8px;
    }

    .form-horizontal textarea {
        padding: 8px 7px 0 8px;
        opacity: 0.7;
    }

    .form-control {
        background-color: var(--body_background);
        color: var(--skill_color);

    }

    .form-horizontal label {
        color: var(--skill_color);
        width: 100;
    }

    .form-control::placeholder {
        font-size: 14px;
        color: var(--skill_color);
        background-color: var(--body_background);
        opacity: 0.7;
    }

    .error {
        font-size: 12px;
        color: red;
        margin-top: -6px;
        font-weight: 500;
    }

    .send-text {
        display: block;
        margin-top: 10px;
        letter-spacing: 2px;
        border-radius: 20px;
        padding: 6px 20px;
        border: 1px var(--body_color) solid;
        background-color: var(--body_color);
        color: navy;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
        }
    }

    .contactList__conatiner {
        .contactList {
            margin-bottom: 30px;

            &__item {
                display: flex;
                flex-direction: row;
                grid-gap: 19px;
                margin-bottom: 10px;
                align-items: center;
            }

            &__i {
                color: var(--link_color);
                color: navy;
                width: 25px;
                height: 25px;
                cursor: pointer;
            }

            &__a {
                text-decoration: none;
                font-size: 14px;
                color: var(--link_color);
                font-weight: 600;

            }

            &__span {
                font-size: 14px;
                font-weight: 600;
            }

            .phone {
                text-align: left;
                direction: ltr;
                text-decoration: none;
            }

            .phone .contactList__phone {
                direction: ltr;
                text-align: left;
                text-decoration: none;
                color: var(--link_color);
            }

            .Noc {
                width: 28px;
                height: 28px
            }

            .loc {
                width: 35px;
                height: 35px;
                margin-left: -2px;
            }

        }
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        height: 120vh;

        .contactList__conatiner {
            margin-top: -10px;
        }

        .form-control {
            background-color: var(--body_background);
            color: var(--skill_color);

        }

    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        display: flex;
        flex-direction: column;


        .contact-wrapper {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            padding: 20px;
            max-width: 90%;
            grid-gap: 20%;
            width: 90%;

            align-items: center;
            justify-content: center;
            margin: 20px auto;
            border-radius: 17px;
            transition: .2s linear;
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 rgba(0, 0, 0, .2);
        }

        .form-horizontal {
            width: 437px;
            min-width: 437px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            grid-gap: 14px;
            padding: 20px;
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
            border-radius: 17px;
        }

        .form-control,
        textarea {
            max-width: 470px;
            letter-spacing: 1px;
            background-color: var(--body_color);
            width: 100%;
            border-radius: 4px;
            box-shadow: -0.5px -0.5px 4px 0 #ceb1ff, -0.5px -0.5px 4px 0 #ceb1ff;
            border: 2px solid var(--link_color);
        }

        .form-control {
            background-color: var(--body_background);
            color: var(--skill_color);

        }

        .form-horizontal label {
            color: var(--skill_color);
        }

        input {
            color: var(--skill_color);
            width: 100%;
            background-color: var(--body_background);
        }

        .form-control::placeholder {
            font-size: 14px;
            color: var(--skill_color);
            background-color: var(--body_background);
        }

        .error {
            font-size: 13px;
            font-weight: 500;
            color: red;
            margin-top: -7px;
        }

        .send-text {
            display: block;
            margin-top: 10px;
            letter-spacing: 2px;
            background-color: var(--body_background);
            border-radius: 20px;
            padding: 6px 20px;
            border: 1px var(--body_color) solid;
            border: 1px var(--lang_background) solid;
            background-color: var(--body_color);
            color: navy;
        }

        .send-text:hover {
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
        }

        .contactList__conatiner {
            max-width: 420px;

            .contactList {
                @include ItemColumn;
                grid-gap: 19px;
                list-style-type: none;
                padding-left: 0;

                &__item {
                    display: flex;
                    flex-direction: row;
                    grid-gap: 19px;
                }

                &__i {
                    color: var(--link_color);
                    color: navy;
                    width: 28px;
                    height: 25px;
                    cursor: pointer;
                }

                .loc {
                    width: 30px;
                    height: 30px;
                }

                &__span {
                    text-decoration: none;
                    color: var(--link_color);
                    font-weight: 600;
                    font-size: 16px;
                    margin-top: 6px;
                }

                &__a {
                    text-decoration: none;
                    font-size: 16px;
                    color: var(--link_color);
                    font-weight: 600;
                }

                .phone {
                    text-align: left;
                    direction: ltr;
                    text-decoration: none;
                }

                .phone .contactList__phone {
                    direction: ltr;
                    text-align: left;
                    text-decoration: none;
                    color: var(--link_color);
                }

            }
        }
    }

    @media screen and (min-width: 1600px) {
        display: flex;
        flex-direction: column;


        .contact-wrapper {
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            padding: 20px;
            grid-gap: 20%;
            width: 90%;
            height: 850px;
            align-items: center;
            justify-content: center;
            margin: 20px auto;
            border-radius: 17px;
            transition: .2s linear;
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 rgba(0, 0, 0, .2);
        }

        .form-horizontal {
            width: 437px;
            min-width: 437px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            grid-gap: 14px;
            padding: 20px;
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
            border-radius: 17px;
        }

        .form-control,
        textarea {
            max-width: 470px;
            letter-spacing: 1px;
            background-color: var(--body_color);
            width: 100%;
            border-radius: 4px;
            box-shadow: -0.5px -0.5px 4px 0 #ceb1ff, -0.5px -0.5px 4px 0 #ceb1ff;
            border: 2px solid var(--link_color);
        }

        .form-control {
            background-color: var(--body_background);
            color: var(--skill_color);

        }

        .form-horizontal label {
            color: var(--skill_color);
        }

        input {
            color: var(--skill_color);
            width: 100%;
            background-color: var(--body_background);
        }

        .form-control::placeholder {
            font-size: 14px;
            color: var(--skill_color);
            background-color: var(--body_background);
        }

        .error {
            font-size: 13px;
            font-weight: 500;
            color: red;
            margin-top: -7px;
        }

        .send-text {
            display: block;
            margin-top: 10px;
            letter-spacing: 2px;
            background-color: var(--body_background);
            border-radius: 20px;
            padding: 6px 20px;
            border: 1px var(--body_color) solid;
            border: 1px var(--lang_background) solid;
            background-color: var(--body_color);
            color: navy;
        }

        .send-text:hover {
            box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
        }

        .contactList__conatiner {
            max-width: 420px;

            .contactList {
                @include ItemColumn;
                grid-gap: 19px;
                list-style-type: none;
                padding-left: 0;

                &__item {
                    display: flex;
                    flex-direction: row;
                    grid-gap: 19px;
                }

                &__i {
                    color: var(--link_color);
                    color: navy;
                    width: 28px;
                    height: 25px;
                    cursor: pointer;
                }

                .loc {
                    width: 30px;
                    height: 30px;
                }

                &__span {
                    text-decoration: none;
                    color: var(--link_color);
                    font-weight: 600;
                    font-size: 16px;
                    margin-top: 6px;
                }

                &__a {
                    text-decoration: none;
                    font-size: 16px;
                    color: var(--link_color);
                    font-weight: 600;
                }

                .phone {
                    text-align: left;
                    direction: ltr;
                    text-decoration: none;
                }

                .phone .contactList__phone {
                    direction: ltr;
                    text-align: left;
                    text-decoration: none;
                    color: var(--link_color);
                }

            }
        }
    }
}