#Profil {
    @include flex-column;
    padding-top: 42px;

    .Profil__container {
        margin: 0 auto;
        width: 100%;
        margin-top: 8%;
        @include flex-column;
        font-size: 12px;
        color: var(--body_color);
        padding: 0 10px;

        .Profil {
            width: 92%;

            &__titre {
                width: 100%;
                font-size: 16px !important;
                font-weight: 700;
            }

            &__p {
                overflow: hidden;
                font-size: 12px;
                word-spacing: 5px;

            }
        }
    }

    .container_photo {
        height: 300px;
        width: 320px;
        border: 1px #f2e8e8 solid;
        box-shadow: -6px -6px 0px 0 #583e81, 6px 6px 0px 0 #583e81;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }

    .Profil__container img {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        backface-visibility: hidden;
        transition: all .8s ease;
        box-shadow: var(--box-shadow-portfolio);
        overflow: hidden;
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        max-width: 100%;
        width: 92%;
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        place-items: center;
        background-position: center;
        border-radius: 15px;
        background: var(--background_profil);

        .Profil__container {
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-position: center;
            background-size: auto;
            color: var(--body_color);
            padding: 10px 0;

            .Profil {
                width: 65%;
                display: flex;
                flex-direction: column;
                padding: 0;

                &__titre {
                    overflow: hidden;
                    font-size: 20px;
                    padding: 20px 25px;
                    font-weight: 700;
                }

                &__p {
                    display: block;
                    padding: 0 25px;
                    word-spacing: 6px;
                    overflow: hidden;
                }
            }
        }

        .container_photo {
            height: 300px;
            width: 240px;
            border: 1px #f2e8e8 solid;
            box-shadow: var(--box-shadow);
            box-shadow: -6px -6px 25px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);
            border-radius: 20px;
        }

        .container_photo img {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            backface-visibility: hidden;
            transition: all .8s ease;
            overflow: hidden;
            padding-bottom: 20px;
        }
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        max-width: 100%;
        width: 92%;
        height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        place-items: center;
        background-position: center;
        border-radius: 15px;
        margin-bottom: 2.5rem;
        background: var(--background_profil);

        .Profil__container {
            margin: 0 auto;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            background-position: center;
            background-size: auto;

            .Profil {
                width: 60%;
                display: flex;
                flex-direction: column;


                &__titre {
                    width: 100%;
                    padding: 20px 3px;
                    font-size: 25px;
                }

                &__p {
                    letter-spacing: 0rem;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }

            .container_photo {
                height: 345px;
                width: 280px;
                border: 1px #f2e8e8 solid;
                box-shadow: var(--box-shadow);
                box-shadow: -6px -6px 25px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);
                border-radius: 20px;
            }

            .container_photo img {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                backface-visibility: hidden;
                transition: all .8s ease;
                overflow: hidden;

            }
        }
    }
}