.Profil__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // background: rgba(0, 0, 0, 0.8) url('../../img/banner_top.jpg');
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    // background-blend-mode: darken;
    position: relative;
    min-height: 100vh;
}