.header {
    width: 100%;
    height: 100%;
    @include flex-column;
    z-index: 1;

    .navbar_header {
        width: 100%;
        padding-bottom: 50px;
        height: 100px;
        cursor: pointer;

        .navbar__links {
            @include flex-column;
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            width: 100%;
            background-color: transparent;

            ul,
            li,
            a {
                color: var(--link_color);
                text-decoration: none;
                font-weight: 700;
                background-color: transparent;
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }
            }

            .navbar__link {
                color: var(--link_color);
            }

            .navbar_item {
                @include font(17px, 500);
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: 20px;
                margin-bottom: -7px;
                line-height: 280%;
            }
        }

        .navbar_header--transparent {
            transition: all 0.3s ease-in-out;
            background-color: var(--header_background);
            box-shadow: none;
        }

        .navbar-mobile {
            width: 100%;
            height: auto;
            text-align: center !important;

            .navbar-icon {
                align-items: center !important;
                display: flex;
                justify-content: flex-end;
                margin: -78px 14px 10px 0;

                button {
                    background: 0 0;
                    color: var(--body_color);
                    border: 2px solid var(--link_color);
                    padding-top: 1px;
                    width: 28px;
                    height: 30px;
                    margin: 30px 0px 0 10px;
                }
            }

            .navbar-menu {
                padding: 0;
                position: absolute;
                right: 0;
                -webkit-transform: translateX(150%);
                transform: translateX(150%);
                transition: -webkit-transform .2s ease-in-out;
                transition: transform .2s ease-in-out;
                transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
                width: 100vw;
                height: 380px;

                &.active {
                    transform: translateX(0);
                    background-color: var(--header_background);
                    opacity: 1;
                    cursor: pointer;
                    width: 100%;
                    z-index: 100;

                }
            }
        }

        .navbarLogo {
            width: 45px;
            height: 45px;
            background: transparent;
            border: none;
            color: inherit;
            cursor: pointer;
            border-radius: 50%;
            margin: 20px 10px 10px 20px;

            &__img {
                border-radius: 50px;
                box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
                height: 100%;
                position: relative;
                width: 100%;
            }
        }
    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        .navbar_header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            position: fixed;
            top: 2%;
            z-index: 1;

            .navbar__links {
                font-size: 14px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                color: var(--link_color);

                .navbar_item {
                    @include font(12px, 500);

                }
            }
        }
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        height: 100%;
        max-width: 100%;
        width: 98%;

        .navbar_header {
            @include flexCenterRow;
            flex-wrap: wrap;
            position: fixed;
            top: 3.2%;
            z-index: 10;
            width: 100%;

            .navbar__links {
                @include flexCenterRow;
                flex-wrap: wrap;
                text-transform: uppercase;
                gap: 15px;
                font-weight: 600;

                .navbar__link {
                    color: var(--link_color);
                }
            }

            .navbar_item {
                @include font(16px, 500);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: navy;
                text-decoration: none;
                line-height: 300%;

                ::before {
                    content: "";
                    position: absolute;
                    height: 2px;
                    width: 0;
                    left: 0;
                    bottom: 10px;
                    background: var(--lang_color);
                    transition: all .5s ease;

                    &:hover:before {
                        width: 100%;
                        border-bottom: 2px solid var(--skill_color);
                    }
                }
            }

            .navbar_header--transparent {
                transition: all 0.3s ease-in-out;
                background: transparent;
                box-shadow: none;
            }
        }

        .navbarLogo {
            width: 60px;
            height: 60px;
            background: transparent;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            margin-top: -0.8rem;
            box-shadow: -6px -6px 25px 0px #ceb1ff, 6px 6px 25px 0 #ceb1ff;
            position: relative;
            left: 4%;

            &__img {
                border-radius: 50px;
                box-shadow: -6px -6px 25px 0 #ceb1ff, 6px 6px 25px 0 #ceb1ff;
                height: 100%;
                position: relative;
                width: 100%;

            }
        }
    }

    @media screen and (min-width: 1600px) {

        .navbar_header {
            @include flexCenterRow;
            flex-wrap: wrap;
            position: fixed;
            top: 3%;
            z-index: 10;
            width: 100%;

            .navbar__links {
                @include flexCenterRow;
                flex-wrap: wrap;
                text-transform: uppercase;
                gap: 15px;
                font-weight: 600;

                .navbar__link {
                    color: var(--link_color);
                }
            }


        }
    }
}