.socialMedia__Conatiner {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-direction: space-between;
    list-style-type: none;
    padding-left: 0;

    &__Icone {
        width: 35px;
        color: var(--background_icons);

        &:hover {
            transform: scale(1.2);
        }
    }

    .X {
        margin: 7px;
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-direction: space-between;
        list-style-type: none;
        padding-left: 0;
        margin-left: -4px;
    }
}