.socialMedia__Conatiner {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-direction: space-between;
    list-style-type: none;
    padding-left: 0;

    &__Icone {
        background-color: #695da1;
    }

    .discord {
        margin-top: 3px;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-direction: space-between;
        list-style-type: none;
        padding-left: 0;
    }
}