.socialMedia__Conatiner {
    width: 400px;
    display: flex;
    flex-direction: row;
    flex-direction: space-between;
    list-style-type: none;
    margin-left: -9px;
    row-gap: 40px;

    .socialMedia__icone {
        width: 50px;
        height: 50px;
        color: var(--background_icons);
        font-size: 0;
    }

    .X {
        margin-top: 7px;

    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 400px;
        display: flex;
        flex-direction: row;
        flex-direction: space-between;
        list-style-type: none;
        padding-left: 0;
        margin-left: -4px;
    }
}