.Loisir {
    width: 100%;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #433871;
    background-color: #433871;
    box-shadow: 0px 0px 0px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);
    margin-bottom: 22px;
    margin-top: 2rem;

    p {
        font-family: "Great Vibes";
        font-style: italic;
        font-size: 14px;
        text-align: center;
        color: #fff;
        font-weight: 600;
        background-color: #433871;
        word-spacing: .2rem;
    }

    &__text {
        font-family: "Great Vibes";
        font-style: italic;
        font-size: 14px;
        text-align: center;
        color: #fff;
        letter-spacing: .1rem;
        background-color: transparent;
        font-weight: 600;
        word-spacing: .2rem;
    }

    @media screen and (min-width: $breakpoint-desktop) {
        width: 100%;
        height: 70px;
        align-items: center;
        margin-bottom: 140px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        border: 2px solid #433871;
        background-color: #433871;
        box-shadow: 0px 0px 0px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);
        margin-top: 1rem;

        p {
            font-size: 16px;
            text-align: center;
            color: #fff;
            word-spacing: .2rem;
        }

        &__text {
            font-size: 16px;
            text-align: center;
            color: #fff;
            letter-spacing: .1rem;
            background-color: transparent;
            word-spacing: .2rem;
        }
    }
}