 #certifications {
     width: 100%;
     border: 2px solid #433871;
     background-color: #433871;
     box-shadow: 0px 0px 0px 0 #583e81, 6px 6px 25px 0 rgba(0, 0, 0, .2);

     &__Container {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }

     &__Title {
         font-weight: 700;
     }

     &__card {
         width: 150px;
         height: 150px;

         &__h3 {
             font-weight: 400;
         }
     }

 }