.competence__Container {
    min-height: 100vh;

    .competence {
        width: 100%;
        @include ItemColumn;

    }

    /*  .filtre {
        width: auto;
        height: auto;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(232, 232, 243);
        padding: 6px;
        transition: all .3s;
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid var(--body_color);
        margin: 2px auto;
        margin-bottom: 12px;
    }*/


    .competence__Backend {
        width: 450px;
        padding: 15px;
        color: navy;

        h5 {
        
            color: navy;
        }

        .competence-bar {
            width: 100%;
            height: .8em;
            background-color: rgb(184, 182, 241);

            .competence-bar-fullfilled {
                height: .5em;
                background-color: #80c5eb;
            }
        }
    }
}