#Skills {
    width: 100%;
    height: 130vh;
    border-radius: 15px;
    padding: 0 0 80px 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 340px;

    .SkillsContainer {
        width: 90%;
        padding: 5vh 0;


        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .box {
                padding: 0 1rem 0 2rem;
                width: 82%;

                &__title {
                    text-align: center;
                    margin: 10px 0 10px 0;
                    font-size: 15px;
                }

                .skillItem {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin: 10px;

                    &__p {
                        margin-bottom: 4px;
                        font-size: 13px;
                    }

                    &__bar {
                        width: 100%;
                        height: 16px;
                        display: flex;
                        justify-content: start;
                        background-color: rgb(211, 211, 230);

                        &__fullfilled {
                            background-color: navy;
                        }
                    }
                }
            }
        }

        &__blob {
            width: 94%;
            margin-top: 12%;
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            //   align-items: center;
        }

        .SoftsSkills {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 86%;


            &__Intro {
                font-weight: 800;
                font-size: 21px;
                margin-bottom: 74px;
            }

            &__IntroP {
                font-weight: 800;
            }

            &__p {
                font-size: 13px;
                margin-bottom: 22px;
                margin-top: -64px;
                margin-left: 12px;

            }
        }

        .softSkills {
            display: flex;
            flex-direction: column;

            &__item {
                display: flex;
                flex-direction: row;
                font-weight: 500;
            }

            &__title {
                font-weight: 400;
                font-size: 15px;
            }

            .fa {
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 15px;
                color: rgba(43, 43, 48, 0.871);
                margin-left: 12px;
            }

            .ButtonCV {
                margin-left: 80px;
            }

        }


    }


    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        .SkillsContainer {
            max-width: 92%;
            display: flex;
            flex-direction: row;
            justify-content: space-arround;
            column-gap: 18%;
            margin-right: 3%;





            &__box {
                width: 64%;

            }

            &__blob {
                width: 50%;
                margin-top: 10%;
            }

            .SoftsSkills {
                width: 80%;

                &__Intro {
                    width: 100%;

                }
            }
        }
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        max-width: 92%;
        width: 92%;
        height: auto;
        border-radius: 15px;
        margin-bottom: -50px;

        .SkillsContainer {

            width: 92%;
            margin-top: 4rem;
            margin-left: 4rem;
            display: flex;
            flex-direction: row;
            justify-content: space-arround;
            column-gap: 22%;
            margin-right: 7%;

            &__box {
                width: 50%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;


                .box {
                    width: 100%;
                    padding: 0 1rem 0 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                    &__title {
                        text-align: center;
                        margin: 10px 0 10px 0;
                        font-size: 15px;
                    }

                    .skillItem {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        margin: 10px;

                        &__p {
                            margin-bottom: 4px;
                            font-size: 13px;
                        }

                        &__bar {
                            width: 100%;
                            height: 16px;
                            display: flex;
                            justify-content: start;
                            background-color: rgb(211, 211, 230);

                            &__fullfilled {
                                height: 16px;
                                background-color: navy;
                            }
                        }
                    }
                }
            }

            &__blob {
                width: 45%;
                margin-top: 8%;
                display: flex;
                flex-direction: column;
                color: rgba(47, 51, 86, 0.871);
                height: 500px;
            }

            .SoftsSkills {
                &__Intro {
                    font-weight: 800;
                    font-size: 20px;
                    width: 100%;
                    margin-bottom: 75px;
                }

                &__IntroP {
                    font-weight: 800;

                }

                &__img {
                    height: 120px;
                    width: 120px;
                    display: flex;
                    flex-direction: flex-end;
                    //  margin-left: 100px;
                    position: absolute;
                    right: 12%;
                }

                &__p {
                    font-size: 15px;
                    margin-bottom: 20px;
                    margin-top: -64px;
                    margin-left: 12px;
                }
            }

            .softSkills {
                display: flex;
                flex-direction: column;

                &__item {
                    display: flex;
                    flex-direction: row;
                    //justify-content: space-around;
                    font-weight: 500;
                }

                &__title {
                    font-weight: 400;
                    font-size: 15px;
                }

                .fa {
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    color: rgba(43, 43, 48, 0.871);
                    margin-left: 12px;
                }

                .ButtonCV {
                    margin-left: 80px;
                }

            }

        }

    }
}















@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}