.competance__Container {
    height: 550px;



    .competance {
        width: 250px;
        @include ItemColumn;

    }


    .filtre {
        width: auto;
        height: auto;
        display: flex;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(232, 232, 243);
        padding: 6px;
        transition: all .3s;
        cursor: pointer;
        border-radius: 20px;
        border: 1px solid var(--body_color);
        margin: 2px auto;
        margin-bottom: 12px;
    }


    .competance_item {
        //width: 100px;
      //  padding: 25px;

        .competance-bar {
            width: 100%;
            height: .8em;
            background-color: rgb(184, 182, 241);

            .competance-bar-fullfilled {
                height: .5em;
                background-color: #80c5eb;
            }
        }
    }
}