#Skills {
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    .SkillsContainer {
        width: 98%;
        padding: 5vh 0;

        &__box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .box {
                padding: 0 1rem 0 2rem;
                width: 94%;

                &__title {
                    text-align: center;
                    margin: 10px 0 10px 0;
                    font-size: 15px;
                    font-weight: 700;
                }

                .skillItem {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    margin: 10px;

                    &__p {
                        margin-bottom: 4px;
                        font-size: 13px;
                    }

                    &__bar {
                        width: 100%;
                        height: 16px;
                        display: flex;
                        justify-content: start;
                        background-color: rgb(211, 211, 230);

                        &__fullfilled {
                            background-color: navy;
                        }
                    }
                }
            }
        }

        &__blob {
            width: 94%;
            margin: auto;
            max-width: auto;
            margin-top: 12%;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            display: flex;
            flex-direction: column;
            background-position: center;
        }

        .SoftsSkills {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 94%;

            &__Intro {
                width: 94%;
                font-weight: 800;
                font-size: 18px;
                margin-bottom: 74px;
            }

            &__IntroP {
                font-weight: 800;
            }

            &__p {
                font-size: 13px;
                margin-bottom: 22px;
                margin-top: -64px;
                margin-left: 12px;

            }
        }

        .softSkills {
            display: flex;
            flex-direction: column;

            &__item {
                display: flex;
                flex-direction: row;
                font-weight: 500;
            }

            &__title {
                font-weight: 400;
                font-size: 15px;
            }

            .fa {
                display: block;
                width: 20px;
                height: 20px;
                margin-right: 15px;
                color: rgba(43, 43, 48, 0.871);
                margin-left: 12px;
            }

            .ButtonCV {
                margin-left: 80px;
            }

        }


    }

    @media screen and (min-width: $breakpoint-desktop) and (max-width:1170px) {
        .SkillsContainer {
            max-width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-arround;
            column-gap: 2%;
            margin-top: 1%;
            padding: 0 20px 0 40px;

            &__box {
                width: 68%;
            }

            &__blob {
                width: 64%;
                margin-top: 10%;
            }

            .SoftsSkills {
                width: 80%;

                &__Intro {
                    width: 100%;
                    font-size: 16px;
                }
            }
        }
    }

    @media screen and (min-width: 1171px) and (max-width:$Mmax) {
        width: 94%;
        height: auto;
        border-radius: 15px;
        margin-bottom: -50px;

        .SkillsContainer {
            margin-left: 2.2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-arround;
            column-gap: 1ch;
            margin-right: 12%;

            &__box {
                width: 47%;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;

                .box {
                    padding: 0 1rem 0 2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: end;

                    &__title {
                        text-align: center;
                        margin: 10px 0 10px 0;
                        font-size: 15px;
                        font-weight: 700;
                    }

                    .skillItem {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        margin: 10px;

                        &__p {
                            margin-bottom: 4px;
                            font-size: 13px;
                        }

                        &__bar {
                            width: 100%;
                            height: 16px;
                            display: flex;
                            justify-content: start;
                            background-color: rgb(211, 211, 230);

                            &__fullfilled {
                                height: 16px;
                                background-color: navy;
                            }
                        }
                    }
                }
            }

            &__blob {
                width: 43%;
                margin-top: 8%;
                display: flex;
                flex-direction: column;
                color: rgba(47, 51, 86, 0.871);
                height: 500px;
            }

            .SoftsSkills {
                &__Intro {
                    font-weight: 800;
                    font-size: 20px;
                    width: 96%;
                    margin-bottom: 75px;
                }

                &__IntroP {
                    font-weight: 800;
                }

                &__p {
                    font-size: 13px;
                    margin-bottom: 20px;
                    margin-top: -64px;
                    margin-left: 12px;
                }

                &__title {
                    font-size: 16px;
                }
            }

            .softSkills {
                display: flex;
                flex-direction: column;

                &__item {
                    display: flex;
                    flex-direction: row;
                    font-weight: 500;
                }

                &__title {
                    font-weight: 400;
                    font-size: 13px;
                }

                .fa {
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-right: 15px;
                    color: rgba(43, 43, 48, 0.871);
                    margin-left: 12px;
                }

                .ButtonCV {
                    margin-left: 80px;
                }

            }

        }

    }
}















@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}