/*
#blobCloud {
    transform: translate(-4vw, -10vw);
    margin-top: 10vh;
    filter: blur(0.5px);
    position: absolute;
    right: 1vw;
    //top: 20vw;
    top: calc(100% - 20vmin);
    left: calc(40% - 30vmin);
    display: block;
    //  width: 90%;
    width: 88%;

    .softSkills {
        &__Intro {
            font-weight: 800;
            font-size: 16px;

            .IntroP {
                font-weight: 800;
            }
        }

        &__img {
            height: 100px;
            position: absolute;
            top: calc(75% - 30vmin);
            left: calc(100% - 30vmin);
            opacity: 0;
        }

        &__p {
            font-size: 12px;
            margin-bottom: 22px;
        }

        &__item {
            display: flex;
            flex-direction: row;
            font-weight: 500;
        }

        &__title {

            font-weight: 400;
            font-size: 12px;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        transform: translate(-4vw, -10vw);
        margin-top: 10vh;

        filter: blur(0.5px);
        position: absolute;
        right: 1vw;
        top: 30vw;
        // top: calc(60% - 30vmin);
        left: calc(75% - 30vmin);
        display: block;
        width: 22.5%;
    }
}

.softSkills {
    display: flex;
    flex-direction: column;

    &__Intro {
        font-weight: 800;
        font-size: 22px;

        .IntroP {
            font-weight: 800;
        }
    }

    &__img {
        height: 180px;
        position: absolute;
        top: calc(115% - 30vmin);
        left: calc(130% - 30vmin);
    }

    &__p {
        font-size: 15px;
        margin-bottom: 22px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        //justify-content: space-around;
        font-weight: 500;
    }

    &__title {
        // color: rgb(131, 135, 153);
        font-weight: 400;
        font-size: 15px;
    }

    .fa {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        color: rgba(43, 43, 48, 0.871);
    }

    .ButtonCV {
        margin-left: 80px;
    }


    @media screen and (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: column;
        color: rgba(47, 51, 86, 0.871);

        &__Intro {
            font-weight: 800;
            font-size: 22px;

            .IntroP {
                font-weight: 800;
            }
        }

        &__img {
            height: 180px;
            position: absolute;
            top: calc(115% - 30vmin);
            left: calc(130% - 30vmin);
        }

        &__p {
            font-size: 15px;
            margin-bottom: 22px;
        }

        &__item {
            display: flex;
            flex-direction: row;
            //justify-content: space-around;
            font-weight: 500;
        }

        &__title {
            // color: rgb(131, 135, 153);
            font-weight: 400;
            font-size: 15px;

        }

        .fa {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            color: rgba(43, 43, 48, 0.871);
        }

        .ButtonCV {
            margin-left: 80px;
        }
    }
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
*/
#blobCloud {
    // transform: translate(-4vw, -10vw);
    margin-top: 10vh;
    filter: blur(0.5px);
    // position: absolute;
    width: 88%;

    .softSkills {
        &__Intro {
            font-weight: 800;
            font-size: 16px;

            .IntroP {
                font-weight: 800;
            }
        }

        &__img {
            height: 100px;
            position: absolute;
            top: calc(75% - 30vmin);
            left: calc(100% - 30vmin);
            opacity: 0;
        }

        &__p {
            font-size: 12px;
            margin-bottom: 22px;
        }

        &__item {
            display: flex;
            flex-direction: row;
            font-weight: 500;
        }

        &__title {

            font-weight: 400;
            font-size: 12px;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        transform: translate(-4vw, -10vw);
        margin-top: 10vh;
        filter: blur(0.5px);
        // position: absolute;

        display: block;
        width: 22.5%;
    }
}

.softSkills {
    display: flex;
    flex-direction: column;

    &__Intro {
        font-weight: 800;
        font-size: 22px;

        .IntroP {
            font-weight: 800;
        }
    }

    &__img {
        height: 180px;
        position: absolute;
        top: calc(115% - 30vmin);
        left: calc(130% - 30vmin);
    }

    &__p {
        font-size: 15px;
        margin-bottom: 22px;
    }

    &__item {
        display: flex;
        flex-direction: row;
        //justify-content: space-around;
        font-weight: 500;
    }

    &__title {
        // color: rgb(131, 135, 153);
        font-weight: 400;
        font-size: 15px;
    }

    .fa {
        display: block;
        width: 20px;
        height: 20px;
        margin-right: 15px;
        color: rgba(43, 43, 48, 0.871);
    }

    .ButtonCV {
        margin-left: 80px;
    }


    @media screen and (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: column;
        color: rgba(47, 51, 86, 0.871);

        &__Intro {
            font-weight: 800;
            font-size: 22px;

            .IntroP {
                font-weight: 800;
            }
        }

        &__img {
            height: 180px;
            position: absolute;
            top: calc(115% - 30vmin);
            left: calc(130% - 30vmin);
        }

        &__p {
            font-size: 15px;
            margin-bottom: 22px;
        }

        &__item {
            display: flex;
            flex-direction: row;
            //justify-content: space-around;
            font-weight: 500;
        }

        &__title {
            // color: rgb(131, 135, 153);
            font-weight: 400;
            font-size: 15px;

        }

        .fa {
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            color: rgba(43, 43, 48, 0.871);
        }

        .ButtonCV {
            margin-left: 80px;
        }
    }
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}