@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

html {
  height: 100%;
}

body {
  max-width: 768px;
  min-width: 375px;
  margin: auto;
  overflow-x: hidden;
}
@media (min-width: 769px) {
  body {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.3) url(../../assets/images/banner/developpement-web-code-bordeaux-business.webp);
  }
}

.main {
  position: relative;
  min-height: 100vh;
}

.App {
  position: relative;
  min-height: 100vh;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: -360px;
  background-color: #2b0449;
}
.footer__text-copyright {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  width: 100%;
  margin: 4% 0 3% 0;
}
.footer__logo {
  margin-top: 2%;
  width: 122px;
  height: 40px;
}
.footer .footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.footer .footerContainer__icone {
  width: 40px;
  height: 40px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 37px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  color: #fff;
  background-color: #fff;
}
@media screen and (min-width: 769px) {
  .footer {
    margin-top: auto;
    margin-bottom: -500px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6%;
}
@media screen and (min-width: 769px) {
  .header {
    margin: 40px 30px 49px 80px;
  }
}
.header__fig {
  display: flex;
  align-items: flex-start;
  margin: 0;
  width: 7rem;
}
.header__fig__logo {
  color: #450fc2;
  background-color: #450fc2;
}
.header__fig .fa-duotone {
  color: #450fc2;
  width: 7rem;
  height: 5rem;
}
@media screen and (min-width: 769px) {
  .header__fig header__logo {
    width: 5 rem;
    color: #450fc2;
  }
  .header__fig img {
    width: 100%;
  }
}

.nav-header {
  width: 54%;
  height: 70px;
  position: absolute;
  right: -10px;
  top: 0%;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-transform: uppercase;
}
.nav-header__link-about, .nav-header__link-home, .nav-header__link-contact, .nav-header__link-competence {
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  width: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #3f056b;
  text-decoration: none;
  margin-right: 18px;
}
.nav-header__link-about:focus, .nav-header__link-home:focus, .nav-header__link-contact:focus, .nav-header__link-competence:focus {
  font-size: 13px;
  text-decoration: underline;
}
.nav-header__link-about:hover, .nav-header__link-home:hover, .nav-header__link-contact:hover, .nav-header__link-competence:hover {
  transform: scale(1.02);
  text-decoration: underline;
}
@media screen and (min-width: 769px) {
  .nav-header {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    position: absolute;
    right: 0;
    top: 0;
    height: 70px;
  }
  .nav-header__link-home, .nav-header__link-about, .nav-header__link-contact, .nav-header__link-competence {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #3f056b;
    text-decoration: none;
    margin-right: 55px;
    font-size: 18px;
    font-weight: 500;
    width: 100px;
    text-transform: none;
    line-height: 142.6%;
    text-align: right;
  }
  .nav-header__link-home:focus, .nav-header__link-about:focus, .nav-header__link-contact:focus, .nav-header__link-competence:focus {
    font-size: 20px;
    transform: scale(1.05);
  }
  .nav-header__link-home:visited, .nav-header__link-about:visited, .nav-header__link-contact:visited, .nav-header__link-competence:visited {
    font-size: 20px;
    transform: scale(1.05);
    text-decoration: underline;
  }
  .nav-header__link-home:hover, .nav-header__link-about:hover, .nav-header__link-contact:hover, .nav-header__link-competence:hover {
    transform: scale(1.05);
    text-decoration: underline;
  }
}

.BannerContainer {
  width: 95%;
  min-height: 100%;
  border-radius: 20px;
  z-index: 1;
  margin-bottom: 35px;
}
.BannerContainer__img {
  border-radius: 25px;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  opacity: 1;
}
.BannerContainer__h1 {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  text-align: start;
  position: absolute;
  left: 2%;
  top: 14%;
  width: 230px;
  color: white;
  height: 78px;
}
.BannerContainer__shadow {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: inherit;
  border-radius: inherit;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}
@media screen and (min-width: 769px) {
  .BannerContainer {
    width: 100%;
    height: 500px;
    left: 0%;
    position: absolute;
    top: 16%;
    z-index: 1;
    margin-bottom: 40px;
  }
  .BannerContainer__h1 {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
    line-height: 142%;
    color: white;
    animation: displytitle 2s, ease-in-out;
  }
  .BannerContainer__shadow {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    left: 0;
    opacity: 0.4;
    position: absolute;
    top: 0;
  }
}

@keyframes displytitle {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.canvaBox {
  width: 200px;
  height: 200px;
}