@import './styles/outils/bases.scss';
@import './styles/outils/setting.scss';
@import '././styles/outils/main.scss';


.App {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}


.TailSpin {
    position: fixed;
    top: 55.5%;
    left: 47%;
    border-radius: 50%;
    background-color: transparent;
}

#sitemap {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;


    &__ul,
    li {
        text-decoration: none;
        height: 30px;
        font-weight: 600;

        a {
            text-decoration: none;

        }
    }
}