.cookie_modal {
    background-color: #433871;
    z-index: 9999;

    .close-button {
        position: absolute;
        top: 10%;
        right: 2%;
        background: none;
        border: none;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
        color: #ffff;

    }

    .cookie-banner {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #433871;
        color: #fff;
        padding: 20px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
        height: 180px;
        z-index: -1;
    }

    .cookie-div {
        background-color: transparent;
        width: 75%;
        text-align: start;
        line-height: 140%;

        p {
            background-color: transparent;
            font-size: 14px;
            color: #ffff;
        }

        a {
            background-color: transparent;
            text-align: start;
            color: #ffff;
            font-size: 14px;

        }
    }

    .cookie-buttons {
        background-color: #433871;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 20px;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .bouttonCookies {
        width: 100px;
        height: 45px;
        background-color: #9356DC;
        border: 1px solid #9356DC;
        border-radius: 8px;
        color: #fff;
        font-weight: 600;

        &:hover {
            background-color: #7a2a9c;
        }
    }


}