.nav-header {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;

    &__link-about,
    &__link-home,
    &__link-contact,
    &__link-competence {
        @include font(13px, 500);
         width: 90px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $primary-color;
        text-decoration: none;
        margin-right: 18px;
        line-height: 300%;

        &:focus {
            font-size: 13px;
            text-decoration: underline;
        }

        &:hover {
            transform: scale(1.02);
            text-decoration: underline;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-right: 30px;
        position: absolute;
        right: 0;
        top: -50px;
        height: 100px;

        &__link-home,
        &__link-about,
        &__link-contact,
        &__link-competence {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: $primary-color;
            text-decoration: none;
            margin-right: 55px;
            font-size: 18px;
            font-weight: 500;
            width: 100px;
            text-transform: none;
            line-height: 142.6%;
            text-align: right;

            &:focus {
                font-size: 20px;
                transform: scale(1.05);
            }

            &:visited {
                font-size: 20px;
                transform: scale(1.05);
                text-decoration: underline;
            }

            &:hover {
                transform: scale(1.05);
                text-decoration: underline;
            }
        }
    }

}